
body {    
	background-image: url("anim.gif");
 	overflow:hidden;
}

div#fps {
    position: absolute;
    top: 0px;
    left: 0px;    
    color:gray;
}

canvas{
   position: absolute;
    top: 0px;
    left: 0px;
}
